html
        {
            height:100%;
        }
        body
        { 
            background-color:;
            font-family: 'Roboto', sans-serif;
            height:100%;
        }
        .inputLine
        {
            margin:0 auto;
            position:relative;
        }
        button
        {    
        
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 7px;
            
        }
        .calcBox
        {   
            height:700px;
            border-color: black;
            border-radius: 7px;
            margin: 0 auto;
            position: relative;
            top: 50px;
            
            
            width: 300px;
            border: 2px solid green;
            padding: 25px;    
        }
        .numbers{
            height:300px;
            border-color: black;
            border-radius: 7px;
            margin: 0 auto;
            position: relative;
            top: 50px;
            
            
            width: 250px;
            border: 2px solid green;
            padding: 25px;    
        }
        .container
        {
            width: 800px;
            border: 1px solid green;
            padding: 25px;
            margin: 0 auto;
            height: 80%;
            border-radius: 7px;
        }